/* HEADPHONES HOLBERTON WEBPAGE */

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

html {
    max-width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

/* HEADER */

header {
    position: absolute;
    width: 100%;
    z-index: 3;
}

/* LOGO */

.logo {
  padding-top: 2rem;
  padding-left: 20%;
}

.logo img {
  width: 15rem;
}

/* NAV BAR */

nav {
  position: absolute;
  top: 50px;
  z-index: 3;
  left: 60%;
  overflow: hidden;
}

nav a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  width: 8rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #FF6565;
}

/* MOBILE MENU */

.mobile-menu {
    cursor: pointer;
    float: left;
    padding: 0px 30px;
    display: none;
}

.mobile-menu-line {
    background: white;
    display: block;
    height: 0.185rem;
    position: relative;
    width: 10px;
    top: -20px;
}

.mobile-menu-line::before,
.mobile-menu-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 200%;
}

.mobile-menu-line::before {
    top: 7px;
}
.mobile-menu-line::after {
    top: -7px;
}

.side-menu {
    display: none;
}

/* TOGGLE MENU ICON */

.side-menu:checked ~ .navMenu {
    max-height: 100%;
    display: block;
}
.side-menu:checked ~ .mobile-menu .mobile-menu-line {
    background: transparent;
}
.side-menu:checked ~ .mobile-menu .mobile-menu-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .mobile-menu .mobile-menu-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (max-width: 480px) {
    nav {
        top: 7rem;
        overflow: hidden;
        display: none;
        left: 40%;
        position: absolute;

    }
    nav a {
        padding-bottom: 18px;
        display: block;
    }

    .mobile-menu {
        display: block;
    }
    .logo img {
      padding-left: 25px;
    }

    .logo {
      padding-left: 0px;
    }
}

@media (max-width:768px) {
  .logo {
    padding-left: 10%;
    justify-content: center;
    align-items: center;
  }
}

/* HERO SECTION */

.hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero .hero-text {
    width: 100%;
    height: 10vh;

}

.hero-section h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.2em;
    color: #fff;
}

.hero-section h3 {
    color: #fff;
}

.hero-section p {
    color: #fff;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    line-height: 1.5em;
}

.hero-section button {
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 22px;
  padding: 15px 25px 15px 25px;
  background: #FF6565;
  color: #fff;
  border: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: bold;
}

.hero-section button:hover, button:active {
  opacity: 0.9;
}

/* Responsive */

@media (max-width:768px) {
  .hero-section h1 {
    font-size: 32px;
    padding: 50px;
  }

  .hero-section p {
    width: 80%;
    padding: 80px;
  }
}

@media (max-width: 480px) {
  .hero-section h1 {
    font-size: 24px;
    padding: 10px;
  }

  .hero-section h3 {
    padding: 20px;
  }
}


/* ROWS & COLUMNS */

.column {
  float: left;
  width: 25%;
}

.row {
    padding-top: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive */

@media (max-width:768px) {
  .column {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .column {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* WHAT WE DO SECTION */

.what-we-do {
  text-align: center;
  padding: 100px 500px 100px 500px;
}

.what-we-do .wwd-top {
    display: inline-block;
    width: 65%;
}

.what-we-do p {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.holberton_school-icon-ic_sound, .holberton_school-icon-ic_music, .holberton_school-icon-ic_hearing, .holberton_school-icon-ic_video {
  font-size: 125px;
  color: #FF6565;
}


/* Responsive */

@media (max-width:768px) {
 .what-we-do {
   padding: 50px 50px 50px 50px;
 }

 .what-we-do .wwd-top {
   width: 100%;
 }
}

@media (max-width: 480px) {
  .what-we-do {
    padding: 50px 30px 50px 30px;
  }

  .what-we-do .wwd-top {
    width: 100%
  }
}


/* RESULTS SECTION */

.results {
  text-align: center;
  padding: 150px 500px 150px 500px;
  background-image: url(images/headphones_hero_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.results .results-top {
    display: inline-block;
    width: 65%;
}

.results p {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
  color: #fff;
}

.results h1, h2 {
  color: #fff;
}

.results .column {
  background-image: url(images/pentagone.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 130px;
  vertical-align: center;
  padding-top: 50px;
}

.results h2 {
  font-size: 42px;
}

/* Responsive */

@media (max-width:768px) {
  .results {
    padding: 50px 50px 50px 50px;
  }

  .results .results-top {
    width: 100%;
  }

 }

 @media (max-width: 480px) {
   .results {
     padding: 50px 30px 50px 30px;
   }

   .results .results-top {
     width: 100%;
   }
 }

/* CONTACT US */

.contact {
  text-align: center;
  padding: 100px 500px 100px 500px;
}

.contact h1 {
  font-size: 32px;
}

/* Responsive */

@media (max-width:768px) {
  .contact {
    padding: 50px 0px 50px 0px;
  }
 }

 @media (max-width: 480px) {
   .contact {
     padding: 50px 30px 50px 30px;
   }
 }


/* CONTACT FORM */

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border-width: 0 0 0.1px;
  transition: all 0.1s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 50px;
}

[type="submit"] {
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 22px;
  padding: 15px 25px 15px 25px;
  background: #FF6565;
  color: #fff;
  border: 0px;
  font-size: 14px;
  font-weight: bold;
}
[type="submit"]:hover { background:#CC4949; }



/* FOOTER */

footer {
  background-color: #071629;
  padding: 100px 0px 0px 100px;
}

.footer {
  display: flex;
}

.footer .footer-logo {
  flex: 80%;
}

.footer .social-media {
  flex: 20%;
  justify-content: right;
}

.holberton_school-icon-ic_facebook, .holberton_school-icon-ic_twitter, .holberton_school-icon-ic_instagram {
  font-size: 42px;
  color: #fff;
  padding: 10px;
}

.copyright {
  text-align: center;
  color: #fff;
  opacity: 0.35;
  padding-top: 75px;
  padding-bottom: 40px;
}

/* Responsive */

@media (max-width:768px) {
  .footer {
    padding: 50px 0px 50px 0px;
  }
 }

 @media (max-width: 480px) {
    footer {
      padding: 50px 30px 50px 30px;
    }

    .footer .social-media {
      flex: 100%;
      justify-content: center;
    }
  }